extends ../../layouts/default.pug
include ../../mixins/upload-file-preview.pug
include ../../mixins/notification.pug
include ../../mixins/select-tree.pug
block main 
    if role.permissions.includes('product_create')
        +notification(4000)
        h1 Tạo sản phẩm
        form(
                action=`${prefixAdmin}/products/create`
                enctype="multipart/form-data"  
                method="post"
            ) 
            .form-group
                label(for="title") Tên sản phẩm*
                input(
                    class="form-control"
                    type="text"
                    id="title"
                    name="title"
                    required
                )
            .row 
                .col-6
                    .form-group 
                        label(for="category_id") Danh mục* 
                        select.form-control(name="category_id" id="category_id" required)
                            option(value="" disable) --Chọn danh mục--
                            +select-tree(categoriesTree)
            .form-group
                label(for="description") Mô tả sản phẩm
                textarea(
                    class="form-control tinymce"
                    type="text"
                    id="description"
                    name="description"
                    rows="5"
                )
            .row 
                .col-4
                    .form-group
                        label(for="price") Giá ($)*
                        input(
                            class="form-control"
                            type="number"
                            id="price"
                            name="price"
                            step="0.01"
                            min="0"
                            required
                        )
                .col-4
                    .form-group
                        label(for="discountPercentage") Giảm giá (%)
                        input(
                            class="form-control"
                            type="number"
                            id="discountPercentage"
                            name="discountPercentage"
                            step="0.01"
                            min="0"
                            value=0
                        )
                .col-4
                    .form-group
                        label(for="stock") Số lượng
                        input(
                            class="form-control"
                            type="number"
                            id="stock"
                            name="stock"
                            min="1"
                            value=1
                        )
            +upload-file-preview("thumbnail","thumbnail")
            .row
                .col-4.form-group 
                    p Trạng thái 
                    .d-flex.align-items-center
                        .form-check.mr-3 
                            input(
                                class="form-check-input"
                                type="radio"
                                value="active"
                                name="status"
                                id="option1"
                                checked
                            )
                            label(class="form-check-label" for="option1") Hoạt động
                        .form-check.mr-3 
                            input(
                                class="form-check-input"
                                type="radio"
                                value="inactive"
                                name="status"
                                id="option2"
                            )
                            label(class="form-check-label" for="option2") Dừng hoạt động
                .col-4.form-group 
                    p Sản phẩm nổi bật 
                    .d-flex.align-items-center
                        .form-check.mr-3 
                            input(
                                class="form-check-input"
                                type="radio"
                                value = "true"
                                name="featured"
                                id="option1"
                            )
                            label(class="form-check-label" for="option1") Có
                        .form-check.mr-3 
                            input(
                                class="form-check-input"
                                type="radio"
                                value = "false"
                                name="featured"
                                id="option2"
                                checked
                            )
                            label(class="form-check-label" for="option2") Không
                .col-4.form-group 
                    label(for="position") Vị trí
                    input(
                        class="form-control"
                        type="number"
                        id="position"
                        name="position"
                        min="0"
                        placeholder="Tự động tăng"
                    )
            button(type="submit" class="btn btn-primary") Tạo sản phẩm 
    else 
        h2 Bạn không được quyền truy cập vào trang này!
