extends ../../layouts/default.pug
include ../../mixins/formatTime.pug
block main 
    if role.permissions.includes('product_detail')
        h2 Thông tin chi tiết sản phẩm
        .card 
            .card-header.d-flex.align-items-center 
                h3.d-inline #{product.title} 
                if product.status == "active"
                    span(class="badge badge-pill badge-success ml-3") Hoạt động
                else
                    span(class="badge badge-pill badge-danger ml-3") Dừng hoạt động 
                if product.featured 
                    span(class="badge badge-pill badge-info ml-3") Nổi bật
            .card-body
                .form-group 
                    label Mô tả
                    div(style="border: 1px solid #ddd ; padding : 10px ; border-radius: 8px")  !{product.description}
                .row
                    .col-3
                        .form-group 
                            label Giá ($)
                            input(class="form-control" type="number" readonly value=product.price)
                    .col-3
                        .form-group 
                            label Giảm giá (%)
                            input(class="form-control" type="number" step ="0.01" readonly value=product.discountPercentage)
                    .col-3
                        .form-group 
                            label  Số lượng
                            input(class="form-control" type="number"  readonly value=product.stock)
                    .col-3
                        .form-group 
                            label  Vị trí
                            input(class="form-control" type="number"  readonly value=product.position)
                .row 
                    .col-6 
                        div(style = "display: block; width : 260px ; height : 260px; border-radius : 8px ; margin-left : auto ; margin-right : auto")
                            img(
                                style = "width : 100% ; height: 100%; object-fit: cover; " src=product.thumbnail)
                    .col-6.mt-3
                        div
                            label Ngày tạo : 
                            if product.createBy.createAt
                                strong
                                    +formatDateHour(product.createBy.createAt) 
                                span  bởi
                                strong  #{product.createByUser}
                                    
                            else 
                                strong Không có thông tin!
                        div
                            label Cập nhật lần cuối :
                            if product.updateBy.at(-1)
                                strong
                                    +formatDateHour(product.updateBy.at(-1).updateAt)
                                span  bởi
                                strong  #{product.updateByUser}
                            else 
                                strong Không có thông tin!
                a(
                    class= "btn btn-warning btn-sm mt-3"
                    href =`${prefixAdmin}/products/edit/${product._id}`
                ) Sửa thông tin 
    else 
        h2 Bạn không được quyền truy cập vào trang này!

                