extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/notification.pug
include ../../mixins/go-back.pug

block main 
    +notification(4000)
    .container 
        +box-head(" Đặt hàng")
        +go-back()
        table(table-check-box).table.table-bordered.table-hover.text-center.mb-3.table-cart
            thead.table-success 
                th STT 
                th Ảnh
                th Tên sản phẩm 
                th Giá 
                th Số lượng
                th Tổng tiền
            tbody 
                for ob , index in products
                    tr  
                        td  #{index + 1}
                        td 
                            img(src= ob.product.thumbnail, alt= ob.product.title style = "width : auto ; height : 90px ; object-fit : cover")
                        td 
                            b #{ob.product.title}
                        th #{ob.priceNew.toFixed(2)}$
                        th #{ob.quantity}
                        th #{ob.total.toFixed(2)}$
        
        .card
            .card-header 
                h3 Thông tin cá nhân 
            .card-body
                form(action="/checkout/order", method="post" class="card mb-3" id="formInfor" style ="border : none")
                    .form-group 
                        label(for="fullName")  Họ và tên*
                        input(type="text" id = "fullName" name = "fullName" class="form-control" required)
                    .form-group 
                        label(for="phone") Số điện thoại*
                        input(type="text" id = "phone" name = "phone" class="form-control" required)
                    .form-group 
                        label(for="address")  Địa chỉ*
                        textarea(name="address" id="address" class="form-control" required)  
                    .text-right.mb-3(total-payment style = "font-weight : 500")  Tổng thanh toán: #{totalPrice.toFixed(2)}$
                    .text-right
                    button(class="btn btn-success" type="submit")  Đặt hàng

        
    
    
    
    

    
    
        

                
