include ../mixins/sub-menu.pug

header
.header
    .container        
        .inner-logo
            a(href="/") 
                h1 PT Shop
        div(class="nav")
            div(class="menu-user")
                .inner-menu 
                    ul.dropdown 
                        li 
                            a(href="/")  Trang chủ
                        li
                            a(href="/products") Sản phẩm 
                            +sub-menu(categoryTree,"/products/category",1) 
                        li 
                            a(href="/users/not-friend") MXH
                if account 
                    .user
                        if (account.thumbnail) 
                            .avarta
                                img(src=account.thumbnail alt="avatar")
                        else
                            .logo-user
                                i(class="fa-solid fa-user")
                        span.ml-2 #{account.username}
                        ul.dropdown-user 
                            li 
                                a(href="#") 
                                    i(class="fa-regular fa-user")
                                    |  Thông tin về tôi 
                            li  
                                a(href="/chat")
                                    i(class="fa-regular fa-comment-dots")
                                    |  Nhắn tin
                            li 
                                a(href="/checkout/list-ordered")
                                    i(class="fa-solid fa-list-check")
                                    |  Các đơn đã đặt
                            li 
                                a(href="/user/reset-password")
                                    i(class="fa-solid fa-lock")
                                    |  Thay đổi mật khẩu
                            li 
                                a(href="/user/logout") 
                                    i(class="fa-solid fa-right-from-bracket") 
                                    |  Đăng xuất
                else
                    ul.login-out 
                        li 
                            a(href="/user/login") Đăng nhập    
                        li  
                            a(href="/user/register") Đăng kí

            div(class="search-cart")
                .inner-search
                    form(action="/search", method="get" id="formSearch")
                        .input-group 
                            input(
                                type="text" 
                                value= keyword || ''
                                placeholder = "Nhập từ khóa..." 
                                name = "keyword" 
                                class="form-control"
                                autoComplete = "off"
                                require 
                            )
                            .input-group-append 
                                button(
                                    class="btn btn-primary" 
                                    type="submit"
                                ) 
                                    i(class="fa-solid fa-magnifying-glass")
                a(href="/cart" class = "inner-cart") 
                    i(class="fa-solid fa-cart-shopping")
                    span.ml-2 Giỏ hàng
                    .quantity-product #{cart ?  cart.products.length : 0}
                        
                    

        