include ../mixins/sub-menu.pug

header
.header
    .container        
        .inner-logo 
            img(src="/images/logo.jpg" , alt="Logo") 
        div(class="nav")
            div(class="menu-user")
                .inner-menu 
                    ul.dropdown 
                        li 
                            a(href="/")  Trang chủ
                        li
                            a(href="/products") Sản phẩm 
                            +sub-menu(categoryTree,"/products/category",1) 
                if account 
                    .user
                        if (account.thumbnail) 
                            .avarta
                                img(src=account.thumbnail alt="avatar")
                        else
                            .logo-user
                                i(class="fa-solid fa-user")
                        span.ml-2 #{account.username}
                        ul.dropdown-user 
                            li 
                                a(href="#") Thông tin về tôi 
                            li 
                                a(href="/auth/logout") Đăng xuất
                else
                    ul.login-out 
                        li 
                            a(href="/auth/login") Đăng nhập    
                        li  
                            a(href="/auth/register") Đăng kí

            div(class="search-cart")
                .inner-search
                    form(action="/search", method="get" id="formSearch")
                        .input-group 
                            input(
                                type="text" 
                                value= keyword || ''
                                placeholder = "Nhập từ khóa..." 
                                name = "keyword" 
                                class="form-control"
                                autoComplete = "off"
                                require 
                            )
                            .input-group-append 
                                button(
                                    class="btn btn-primary" 
                                    type="submit"
                                ) 
                                    i(class="fa-solid fa-magnifying-glass")
                .inner-cart 
                    i(class="fa-solid fa-cart-shopping")
                    span.ml-2 Giỏ hàng
                    

        