extends ../../layouts/default.pug
include ../../mixins/notification.pug
block main 
    if role.permissions.includes('role_detail')
        +notification(4000)
        h2 Nhóm quyền
        .card 
            .card-header.d-flex.align-items-center 
                div Danh sách
            .card-body 
                table(
                    class= "table table-hover"
                )
                    thead 
                        tr  
                            if role.permissions.includes('role_create')
                                a(
                                    class = "btn btn-outline-success mb-3"
                                    href = `${prefixAdmin}/roles/create`
                                ) Thêm nhóm quyền
                        tr 
                            th STT 
                            th Nhóm quyền   
                            th Mô tả ngắn
                            th Hành động
                    tbody   
                        each item,index in roles 
                            tr 
                                td #{index + 1}
                                td #{item.title} 
                                td #{item.description}
                                td 
                                    a(
                                        class="btn btn-secondary btn-sm"
                                        href = `${prefixAdmin}/roles/detail/${item._id}`
                                    ) Chi tiết
                                    if role.permissions.includes('role_edit')
                                        a(
                                            class="btn btn-warning btn-sm ml-1"
                                            href =`${prefixAdmin}/roles/edit/${item._id}`
                                        ) Sửa
                                    if role.permissions.includes('role_delete')
                                        button(
                                            button-delete-item
                                            class="btn btn-danger btn-sm ml-1"
                                            data-id = item._id
                                        ) Xóa 
        if role.permissions.includes('role_delete')
            form(
                    id ="formDeleteItem"
                    action="javascript:;"
                    method="post"
                    data-path = `${prefixAdmin}/roles/delete`
                )
        script(src="/admin/js/roles.js") 
    else 
        h2 Bạn không được quyền truy cập vào trang này!