extends ../../layouts/default.pug
include ../../mixins/notification.pug 

block main  
    +notification(4000)
    if role.permissions.includes('account_detail')
        .account-detail
            h2.mb-3 Chi tiết tài khoản
            .card 
                .card-header Thông tin chi tiết tài khoản
                .card-body
                    .inner-infor 
                        .inner-img 
                            img(src=account.avatar, alt="avatar")
                        .inner-content
                            .mb-3 Họ và tên :
                                strong  #{account.fullName}
                            .mb-3 Email :
                                strong  #{account.email}
                            .mb-3 Số điện thoại : 
                                strong  #{account.phone}
                            .mb-3 Trạng thái : 
                                if account.status = "active"
                                    div(class="btn btn-success btn-sm") Hoạt động
                                else 
                                    div(class="btn btn-danger btn-sm") Dừng hoạt động
                            .mb-3 Quyền quản lý :     
                                strong  #{roles.title}
                            .mb-3 Thời gian tạo : 
                                strong #{account.timeCreate}
                            .mb-3 
                    a(
                        href=`${prefixAdmin}/accounts/edit/${account._id}`
                        class="btn btn-warning"
                    ) Chỉnh sửa
    else 
        h2 Bạn không được quyền truy cập vào trang này
        