extends ../../layouts/default.pug
include ../../mixins/notification.pug 
include ../../mixins/upload-file-preview.pug
block main
    if roles.permissions.includes('account_edit')
        +notification(4000)
        h2.mb-3 Chỉnh sửa tài khoản 
        form(
            action=`${prefixAdmin}/accounts/edit/${account._id}?_method=PATCH`, 
            method="post"
            enctype="multipart/form-data"
        ) 
            .form-group
                label(for="fullName") Họ và tên
                input(type="text" class="form-control" id="fullName" name="fullName" value=account.fullName required) 
            .form-group 
                label(for="phone") Số điện thoại
                input(
                    type="text"
                    name="phone"
                    id="phone"
                    class="form-control"
                    value = account.phone
                    required
                )
            +upload-file-preview("avatar","avatar")
            .form-group 
                label(for="email") Email 
                input(
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    value = account.email
                    required
                )
            .form-group 
                label(for="password") Mật khẩu
                input(
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder ="Nhập mật khẩu mới nếu muốn thay đổi"
                )
            .row 
                .col-6
                    .form-group 
                        label(for="role_id") Phân quyền 
                        select.form-control(name='role_id' required)
                            option(value="" disabled ) --Chọn quyền--
                            each role in roles 
                                option(value=role._id selected=role._id == account.role_id) #{role.title}
                .col-6
                    label Trạng thái
                    .d-flex.align-items-center
                        .form-check
                            input(class="form-check-input" type="radio" id="radio1" name="status" value="active" checked = account.status == "active")
                            label(for="radio1" class="form-check-label") Hoạt động
                        .form-check.ml-3
                            input(class="form-check-input" type="radio" id="radio2" name="status" value="inactive" checked=account.status == "inactive" )
                            label(for="radio2" class="form-check-label") Dừng hoạt động
            button(type ="submit" class="btn btn-primary") Lưu
    else 
        h2 Bạn không được quyền truy cập vào trang này!
        