//- Tạo cấu trúc cây cho select. Lưu ý cần thêm select trước nó
mixin select-tree(tree = [])
    each item in tree 
        option(value=item._id)= `${'-'.repeat(item.level * 2)} ${item.title}`
        if item.children.length > 0
            +select-tree(item.children)



//- Dùng để hiện thị cây và chỉ ra nhánh đang được chọn
mixin select-treeEdit(tree = [], defaultValue = '')
    each item in tree 
        if item._id == defaultValue
            option(value=item._id selected)= `${'-'.repeat(item.level * 2)} ${item.title}`
        else
            option(value=item._id)= `${'-'.repeat(item.level * 2)} ${item.title}`
        if item.children && item.children.length > 0
            +select-treeEdit(item.children, defaultValue)





