extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/notification.pug
include ../../mixins/go-back.pug

append head
    link(rel="stylesheet", href="/css/chat.css")

block main 
    +notification(4000)
    .container 
        +box-head("Chat")
        .frame-mess
            .mess-header #{title}
            ul.messages
                for mess of chats 
                    if mess.user_id != user_id
                        li
                            strong #{mess.fullName}
                        if mess.content
                            li(class="friend")
                                .mess-item #{mess.content}
                        if mess.images.length > 0
                            li(class="friend")
                                .image-item
                                    for imageUrl in mess.images
                                        img(src=imageUrl, alt="Hình ảnh")
                    else 
                        if mess.content
                            li(class="self") 
                                .mess-item #{mess.content}
                        if mess.images.length > 0
                            li(class="self")
                                .image-item
                                    for imageUrl in mess.images
                                        img(src=imageUrl, alt="Hình ảnh")

                
            div(class="custom-file-container" data-upload-id="upload-image")
            form(action="javascript:void(0);", method="get" class="chat-form") 
                input(type="text" class="chat-mess" placeholder = "Aa")
                label(for="file-upload-with-preview-upload-image" class ="btn btn-icon")
                    i(class="fa-regular fa-image")
                span(class ="btn btn-icon icon-emoji") 
                    i(class="fa-regular fa-face-smile")
                    div(class="tooltip" role ="tooltip")
                        emoji-picker
                button(class="btn btn-icon" type="submit" class="send-mess") 
                    i(class="fa-regular fa-paper-plane")
    script(src="/socket.io/socket.io.js")
    script(type="module" src="/js/chat.js") 