header.header 
    .container-fluid 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href=`${prefixAdmin}/dashboard`) ADMIN 
            .col-9
                div(style ="display : flex; flex-direction : row-reverse")
                    a(
                        class="btn btn-danger" 
                        href = `${prefixAdmin}/auth/logout`
                        logout
                    ) Đăng xuất 
                    a(
                        class="btn btn-primary mr-3"
                        href = `${prefixAdmin}/myprofile`
                    ) My profile